body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;

}
div{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin: 25%;
    margin-top: 100px;
 
    width: 50%;
    margin-left: 25%;



}
img{
    border: 5px solid white;
    width: 100%;
}